@page "/"
@using UPDown.Common.PessoaAPI

@inject TokenAuthenticationStateProvider TokenProvider

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("Chamou initialize " + TokenProvider.GetUserType());
        base.OnInitialized();
    }
}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid page-height">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <h2>Sobre</h2>
    </div>

    <div class="mdl-cell--2-col">
    </div>
    <div class="mdl-cell--8-col">
        <h4>
            Este projeto tem como finalidade o planejamento e desenvolvimento de uma plataforma de ensino direcionada às
            pessoas com Síndrome de Down, a fim de que as incluam e de que as insiram no mercado de trabalho.
        </h4>

        <h4>
            A plataforma conecta dois participantes para que tenha o desenvolvimento pessoal e profissional de pessoas com
            deficiência intelectual, inicialmente focada em Síndrome de Down. Com um ambiente interativo e simples, a
            plataforma oferece treinamentos gravados, experiências online e FAQ (perguntas frenquentes). Para essas funções,
            são necessários alguns requisitos básicos.
        </h4>
    </div>
    <div class="mdl-cell--2-col">
    </div>

</div>