@page "/materiacrud"

@code {
#if DEBUG
    string endpoint = "https://localhost:44307/Materia";
#else
    string endpoint = "https://localhost:44307/Materia";
#endif

    public List<FTTBlazor.FTTGridColumn> cols = new List<FTTBlazor.FTTGridColumn>();

    protected override async Task OnParametersSetAsync()
    {
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "Name", FieldDescription = "Nome" });
    }
}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="height: 35rem;">

    <FTTCrud Interface="Common.AulaAPI.MateriaDTO" Columns="cols" Endpoint="@APIGateway.Materias" Title="Materias">
        <ModalContent>
            <FTTInput Required="true" Label="Nome" @bind-Value="@context.Name" Size="12"></FTTInput>
        </ModalContent>
    </FTTCrud>

</div>